<head>
  <title>MakersBNB</title>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <a href="/sessions/new">Log in</a>
  <h2>Sign up to MakersBnB</h2>
  <form action='/users' method='post'>
    <input type='text' name='email' placeholder='Email'>
    <input type='password' name='password' placeholder='Password'>
    <input type='password' name='password_confirmation' placeholder='Confirm Password'>
    <input type='submit' value='Sign up'>
  </form>

  <%= flash[:nomatch] %>
  
</body>
