<!doctype html>
<html>
  <head>
    <title>MakersBNB</title>
  </head>
  <body>
    <a href="/sessions/new">Log in</a>
    <form action='/users' method='post'>
      <input type='text' name='email' placeholder='Email'>
      <input type='password' name='password' placeholder='Password'>
      <input type='password' name='password_confirmation' placeholder='Confirm Password'>
      <input type='submit' value='Sign up'>
    </form>
  </body>
</html>
