<!doctype html>
<html>
  <head>
    <title>LogIn</title>
     <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
  <h1>Log in to MakersBnB</h1><br>
  <h1>Email Address</h1>

    <form action='/sessions/new' method='post'>
      <input type='text' name='email' placeholder='Email'>
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value='Log in'>
    </form>
  </body>
</html>
