<html lang="en">
  <head>
    <link rel="shortcut icon" href="img/favicon3.ico"/>
    <title>MakersBnB-LogIn</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/vegas/vegas.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="/vegas/vegas.min.js"></script>
  </head>

  <body background="/img/MakersBNB.jpg">
    <div class="loginTile">
      <img class="logo" src="/img/logo.png">
      <div id="navigation">
        <a href="/sessions/new">Log in</a><span class="divider">|</span><a href="/">About</a>
      </div>
      <form action='/sessions/new' method='post'>
        <h1>Log in to MakersBnB</h1><br>
        <label for="email"><b>email address</b></label>
        <input class="field" id="email" type='text' name='email' placeholder='email'>
        <br>
        <label for="password"><b>password</b></label>
        <input class="field" id="password" type='password' name='password' placeholder='password'>
        <br>
        <input class="button1" type='submit' value='log in'>
      </form>
    </div>
  </body>
</html>
