<style>
	h2 {
		text-align: center;
		margin-top: 100px;
	}

	div {
		text-align: center;
		margin-top: 50px;
	}
</style>

<h2>Spaces</h2>

	<% @spaces.each do |space| %>

  <div>
    <h3><%= space.name %></h3>
    <p><%= space.description %></p>
  </div>

<% end %>
