<head>
 <link rel="stylesheet" href="/style.css"/>
</head>

<body>
	<a href='/sessions/logout'>Sign out</a>
	<h2>Book a Space</h2>

		<% @spaces.each do |space| %>

	  <div>
	    <h3><%= space.name %></h3>
	    <p><%= space.description %></p>
	    <p>£<%= space.price %> / night</p>
	    <p style='color: red'>Avaliablility? </p>
	  </div>

	<% end %>
</body>
