
<html lang="en">
<head>

  <link rel="shortcut icon" href="img/favicon3.ico" />
  <title>List a new space</title>
  <link rel="stylesheet" href="/style.css"/>
  <link rel="stylesheet" href="/vegas/vegas.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
  <script src="jquery.js"></script>
  <script src="interface.js"></script>
  <script src="/vegas/vegas.min.js"></script>
</head>

<body>
  <div class="sessionTile">
    <img class="logo" src="/img/logo.png">
    <div id="navigation">
      <a href='/spaces'>Spaces</a><span class="divider">|</span><a href='/spaces/requests'>Requests</a><span class="divider">|</span><a href='/sessions/logout'>Sign out</a>
    </div>
    <br>
    <br>
    <%= flash[:incorrect_details] %>
    <br>

  <form action="/spaces/new" method="post">
    <h1>Create a new space</h1>
    <label for="name"><b>name:</b></label>
    <input type='text' id='name' name='name' placeholder='Name'><br>
    <br>
    <h3>Description:</h3>
    <input type='text' id='description' name='description' placeholder='Enter description...'><br>
    <h3>Price per night:</h3>
    <input type='text' id='price' name='price' placeholder='Enter price per night'>
    <%= flash[:correct_price] %>
    <br>
    <h3>Select dates:</h3>
    <input type='date' id='checkin' name='checkin'>
    <input type='date' id='checkout' name='checkout'><br><br>
    <button type='submit'>List space</button>
  </form>
  </div>
</body>
</html>
