<form action="/spaces/new" method="post">
  <input type='text' id='name' name='name'>
  <input type='text' id='description' name='description'>
  <input type='text' id='price' name='price per night'>
  <input type='date' id='Start Date' name='Start Date'>
  <input type='date' id='End Date' name='End Date'>
  <button type='submit'>List space</button>
</form>